* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: #A89991;
}

/* Color Wheel */

/* Feathers and Earth */

.taupe-bg {
    background: #A89991;
}

.cool-gray-bg {
    background: #2B2F35;
}

.sage-green-bg {
    background: #535E4B;
}

.navy-blue-bg {
    background: #133249;
}

.taupe-font {
    color: #A89991;
}

.cool-gray-font {
    color: #2B2F35;
}

.sage-green-font {
    color: #535E4B;
}

.navy-blue-font {
    color: #133249;
}

nav.nav-formatting {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
}

.font-raleway {
    font-family: 'Raleway', sans-serif;
}

h1 {
    margin: 0;
    height: 100%;
    vertical-align: center;
}

i.crown {
    position: absolute;
    left: 60px;
    top: 14px;
    color: gold;
    z-index: 0;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.navButtons-right {
    position: absolute;
    right: 40px;
}